line1_displayname: "100"
line1_name: "100"
line1_shortname: "100"
line1_authname: "100"
line1_password: "100"
line2_displayname: ""
line2_name: ""
line3_displayname: ""
line3_name: ""
line4_displayname: ""
line4_name: ""
line5_displayname: ""
line5_name: ""
line6_displayname: ""
line6_name: ""
nat_enable: "0"
phone_label: "Sinbad Hotline"
phone_prompt: "THIS IS THE TELNET PROMPT"
callerid_blocking: "0"
dtmf_outofband: "avt"
network_media_type: "auto"
dtmf_avt_payload: "101"
call_waiting: "1"
cnf_join_enable : "1"
semi_attended_transfer : "1"